.select-box {
  margin-bottom: 30px;
}

#programming {
  /* select 태그의 기본 화살표 속성 없애기 */
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  padding: 12px 13px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  outline: none;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  background-image: url(image/icon_down.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 95%;
}

#programming:hover {
  outline: 3px solid #f8e4ff;
}

#programming:focus {
  border: 1px solid #9b51e0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.selectbox {
  position: relative;
  width: 200px;
}

.select_title {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
}

.select_title:focus {
  border: 1px solid #9b51e0;
  outline: 3px solid #f8e4ff;
}

.select_title::after {
  content: '';
  background-image: url(image/icon_down.png);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  right: 12px;
}

.option_list {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin-top: 8px;
}

.option_item {
  margin: 6px 7px;
  padding: 6px 17px;
}

.option_item:hover {
  background-color: #f8e4ff;
  border-radius: 8px;
}
